---
---

body {
    color: #666;
    font: 300 15px/15px Roboto,Arial,Helvetica;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #00a9c6;
    text-decoration: none;
    &:hover {
        color: #666;
    }
    &.anchor {
        display: block;
        position: relative;
        top: -100px;
        visibility: hidden;
    }
}

.btn, a, .btn:hover, a:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    outline: none !important;
}

.first {
    padding: 6em 0;
}

h1, h2, h3, h4 {
    margin: 0;
    line-height: 1em;
}

h1 {
    color: black;
    font: 700 5em Roboto,Arial,Helvetica;
    margin: 0.25em 0;
    text-transform: uppercase;
}

h2 {
    font: 300 2.5em Roboto,Arial,Helvetica;
    margin-bottom: 1.5em;
}

h3 {
    font: 300 2em Roboto,Arial,Helvetica;
    margin: 2em 0 1em 0;
}

h4 {
    font: 300 1.5em Roboto,Arial,Helvetica;
    margin-bottom: 1em;
    text-align: center;
    i {
        margin-right: 0.5em;
    }
}

p {
    font-size: 1em;
    line-height: 1.7em;
    margin-bottom: 1.7em;
}

.spacer {
    padding: 3em 0;
}

.btn {
    border: none;
    border-radius: 0;
    padding: 1em 4em;
    background: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    &:hover, &:active {
        color: #fff;
    }
}

.btn-default {
    color: #ccc;
    border: 1px solid #aaa;
    &:hover, &:active {
        background: rgba(0, 0, 0, 0.8);
    }
}

.btn-primary {
    color: #fff;
    background: #00a9c6;
    width: 100%;
    outline: none;
    &:hover, &:active, &:focus {
        background: #1BC0DC;
        box-shadow: none;
    }
}

.topbar {
    height: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-nav > li > a {
    font-size: 1em;
    line-height: 3.6em;
}

.navbar-fixed-top {}

.navbar-inverse {
    background: #111;
}

.navbar-default .navbar-nav > .active > a {
    background: none;
    color: #21abca;
    &:hover, &:focus {
        background: none;
        color: #21abca;
    }
}

#head, .carousel {
    margin-top: 0;
}

#home {
    padding-top: 6em;
}

.carousel-caption {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
}

.caption-wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.caption-info {
    display: table-cell;
    vertical-align: middle;
    p {
        font-size: 1.25em;
    }
    .btn i {
        margin-right: 0.75em;
    }
}

.carousel-container {
    width: 90%;
    margin: 0 auto;
}

.carousel-inner > .item > {
    img, a > img {
        width: 100%;
    }
}

.carousel-control {
    z-index: 1000;
}

#background > img {
    width: 100%;
    height: auto;
    position: relative;
}

#team-pic > img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-bottom: 25px;
}

/*countdown*/

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    position: absolute;
    z-index: 1000;
    top: 20%;
    right: 2%;

    h4 {
        text-shadow: 2px 2px 2px black;
    }
    > div {
        padding: 10px;
        border-radius: 3px;
        background: grey;
        display: inline-block;
    }
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}


/*about*/

.about.spacer {
    padding-left: 4em;
    padding-right: 4em;
}

.process ul li {
    width: 10em;
    height: 10em;
    border: 1px solid #CEEBF0;
    padding: 0;
    border-radius: 50%;
    margin: 0 1.25em;
    line-height: 13.5em;
    color: #21ABCA;
    span {
        line-height: 2em;
        display: inline-block;
        font-weight: 300;
        i {
            font-size: 3em;
        }
        b {
            display: block;
            font-size: 1em;
            font-weight: 300;
        }
    }
}

/* follow us */

.fb-btn-container {
    top: 115px;
    left: -100px;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.youtube-btn-container {
    top: 300px;
    left: 180px;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.twitter-btn-container {
    top: 115px;
    right: -105px;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}


#followus {
    cursor: default;
    :hover {
        .social-btn-box, .social-btn-box > a {
            visibility: visible;
        }
    }
}

.fb-btn-container {
    float: left;
}

.twitter-btn-container {
    text-align: center;
}

.youtube-btn-container {
    float: right;
}

.social-btn-box {
    margin-top: 10%;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 5px;
    visibility: hidden;
    a {
        visibility: hidden;
        width: 50px;
        height: 50px;
        display: inline-block;
        line-height: 50px;
        font-size: 26px;
        color: #fff;
    }
}



.social-btn-box:hover {
    background-color: #333;
}

/*testimonials*/

.partners img {
    float: left;
    margin: 0 75px 30px 0;
}

.testimonails {
    min-height: 195px;
    img {
        margin-top: 5px;
    }
    span {
        color: #888;
        b {
            font-weight: 400;
        }
    }
}

.carousel-indicators {
    li {
        border: 1px solid #2BB2E3;
    }
    bottom: 0;
}

/*works*/

#works {
    padding-top: 6em;
}

/*works*/

/*team*/

.team {
    figure, img {
        width: 100%;
    }
    b {
        font-size: 1.2em;
        display: block;
    }
    a i.fa {
        color: #fff;
        font-size: 2em;
        &:hover {
            color: #21abca;
        }
    }
}

.highlight-info {
    background: url(../images/lab.jpg) center fixed;
    background-size: cover;
    color: #fff;
    .overlay {
        background: rgba(33, 171, 202, 0.5);
    }
    h4 {
        color: #fff;
        margin: 0.5em 0 0 0;
    }
}

/*about us*/

/*header*/

.navbar {
    .container {
        height: 75px;
    }
    .navbar-header {
        height: 100%;
    }
}

.navbar-brand {
    height: 100%;
    padding: 0px 0px;
    img {
        height: 100%;
    }
}

/*latest update carousel*/

.slick-prev {
    left: -25px;
}

.slick-next {
    right: -25px;
}

.slick-prev, .slick-next {
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

/*Sponsors*/

.sponsors > div > div > {
    img {
        display: block;
        max-width: 100%;
        height: 100px;
        margin: 0 auto;
    }
    #shell {
        height: 120px;
    }
}

.hslider {
    text-align: center;
    margin: 10px;
    background-color: #D3D3D3;
    line-height: 250px;
}

/*contact/donate*/

#contact {
    background-color: #f5f5f5;
}

.contactform {
    textarea, input {
        width: 100%;
        padding: 1em;
        border: 1px solid #ccc;
        margin-bottom: 1em;
        border-radius: 0;
        outline: none;
    }
}

#donate {
    margin-top: 125px;
}

/*contact/donate*/

/*footer*/

.footer {
    background-color: #111;
    color: #fff;
    font-size: 1em;
    color: #aaa;
    padding: 3em;
    a {
        color: #aaa;
        margin: 0 1em;
    }
}

.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: #fff;
    i {
        line-height: 0.5em;
    }
}

/*footer*/

@media (min-width: 1600px) {
    .about.spacer {
        width: 1400px;
    }
}

@media (max-width: 1200px) {
    body {
        font: 300 13px/13px Roboto,Arial,Helvetica;
    }
    .navbar-brand {
        padding-top: 11px;
    }
    .process ul li {
        margin: 0 0.5em;
    }
    .grid figure h2 {
        font: 700 1.5em Roboto,Arial,Helvetica;
    }
    figure {
        &.effect-oscar figcaption {
            padding: 12%;
            &::before {
                top: 20px;
                right: 20px;
                bottom: 20px;
                left: 20px;
            }
        }
        &.effect-chico figcaption::before {
            top: 20px;
            right: 20px;
            bottom: 20px;
            left: 20px;
        }
    }
    .partners img {
        margin: 0 25px 25px 0;
    }
}

@media (max-width: 900px) {
    h1 {
        font: 700 3.5em Roboto,Arial,Helvetica;
    }
    h4 {
        font: 300 1.3em Roboto,Arial,Helvetica;
    }
    .btn {
        padding: 1em 2em;
    }
    .partners img {
        margin: 0 15px 25px 0;
        width: 157px;
    }
    .process ul li {
        width: 9em;
        height: 9em;
    }
    figure {
        &.effect-chico figcaption {
            padding: 2em;
        }
        &.effect-oscar figcaption {
            padding: 20%;
        }
        &.effect-chico figcaption::before {
            top: 10px;
            right: 10px;
            bottom: 10px;
            left: 10px;
        }
    }
    .grid figure.effect-chico p {
        font-size: 0.6em;
        line-height: 1.5em;
    }
}

@media (max-width: 767px) {
    body {
        font: 300 12px/12px Roboto,Arial,Helvetica;
    }
    .navbar-nav > li > a {
        line-height: 1em;
    }
    .navbar-brand {
        padding: 7px;
        img {
            height: 37px;
        }
    }
    .navbar-toggle {
        margin-top: 12px;
    }
    #clockdiv {
        display: none;
    }
    .carousel-caption, .carousel-control, .carousel-indicators {
        display: none;
    }
    h2.text-center {
        font-size: 1.7em;
    }
    h4 {
        font: 300 1.2em Roboto,Arial,Helvetica;
    }
    #partners h2 {
        padding: 0 1em;
    }
    #works {
        padding-top: 5em;
    }
    .partners {
        display: block;
        float: left;
        img {
            width: 120px;
        }
    }
    .about.spacer {
        padding-left: 2em;
        padding-right: 2em;
    }
    .spacer {
        padding: 2em 0 0 0;
    }
    .process ul li {
        margin-bottom: 1em;
    }
    .highlight-info .overlay {
        padding-bottom: 2em;
    }
    .grid.team div {
        margin: 0;
        padding: 0;
    }
    figure.effect-chico figcaption {
        padding: 1.5em;
    }
    .footer {
        margin-top: 2em;
        padding-bottom: 2em;
    }
}