---
---

//colors
$gray: gray;

#separator {
	font-size: 20px;
	line-height: 70px;
	list-style-position: inside;
	color: $gray;
	text-align: center;
	ul {
		padding-left: 0px;
	}
}

a {
	&.anchor {
		display: block;
		position: relative;
		top: -50px;
		visibility: hidden;
	}
	&#cars {
		top: -90px;
	}
}

img { 
	max-width: 100%; 
	height: auto; 
}