---
title: Competition
custom_css:
- competition
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
<div class="topbar animated fadeInLeftBig"></div>

<!-- Header Starts -->
<div id="top" class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="top-nav">
          <div class="container">
            <div class="navbar-header">
              <!-- Logo Starts -->
              <a class="navbar-brand" href="/">UBC SUPERMILEAGE</a>
              <!-- #Logo Ends -->

              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

            </div>

            <!-- Nav Starts -->
            <div class="navbar-collapse  collapse">
              <ul class="nav navbar-nav navbar-right scroll">
                 <li><a href="#sema">Shell Eco Marathon</a></li>
                 <li><a href="#sae">SAE</a></li>
                 <li><a href="#proto-results">Prototype Results</a></li>
                 <li><a href="#urban-results">Urban Results</a></li>
              </ul>
            </div>
            <!-- #Nav Ends -->

          </div>
        </div>

      </div>
    </div>

<!-- #Header -->


<!-- Competition -->
<div id="about"  class="container about first">
  <h1 class="text-center wowload fadeInUp">Competition</h1>
  <div id="background">
    <img src="images/sema-group.png" alt="SEMA 2015"/>
    <p class="text-center">test caption</p>
  </div>

  <div class="col-md-6">
    <a class="anchor" name="sema" id="sema"></a>
    <h3 class="text-center">SHELL ECOMARATHON AMERICAS</h3>
      <p>The Shell Eco-marathon Americas competition takes place annually in Detroit, Michigan during the last weekend in April.
        Over 100 teams from Canada, the United States, Central America, and South America gather to put their vehicles to the test
        on the streets of Detroit. Both out Prototype vehicle and our Urban Concept vehicle participate in the Shell Eco-marathon Americas,
        with the Urban Concept winning second place in 2015 with 324.5 miles per gallon.
      </p>
      <img class="logo" src="images/logos/shell.png">
  </div>
  <div class="col-md-6">
    <a class="anchor" name="sae" id="sae"></a>
    <h3 class="text-center">SAE SUPERMILEAGE</h3>
      <p>The SAE Supermileage competition takes place annually in Marshall Michigan during the second weekend in June. Teams from
        across North America compete their vehicles at the Eatun Vehicle Group Proving Grounds and try to set new records for
        efficiency. Our Prototype vehicle participates in the SAE Supermileage competition, and scored in sixth place in 2016 with 715
        miles per gallon.
      </p>
      <img class="logo" src="images/logos/sae.png">
  </div>
  <br><br>
  <div class="col-md-12">
    <hr width="50%" class="text-center">
  </div>
  <br><br>
  <div class="col-md-12">
    <h2 class="text-center">RESULTS</h2>
  </div>
  <div class="col-md-6">
    <a class="anchor" name="urban-results" id="urban-results"></a>
    <img class="car-type" src="images/competition/urban.png">
    <h3 class="text-center car-type">URBAN CONCEPT</h3>
    
    <!-- It's suprisingly hard to make markdown render tables in html,
    markdownify (used in events.html) doesn't work, so old fashions html tables it is.-->
    <table class="table table-bordered">
      <tr>
        <td>YEAR</td>
        <td>COMPETITION</td>
        <td>RANK</td>
        <td>MILEAGE</td>
      </tr>
      <tr>
        <td>2010</td>
        <td>SEMA</td>
        <td>DNF</td>
        <td>-</td>
      </tr>
      <tr>
        <td>2011</td>
        <td>SEMA</td>
        <td>4<sup>th</sup></td>
        <td>214 mpg</td>
      </tr>
      <tr>
        <td>2012</td>
        <td>SEMA</td>
        <td>3<sup>rd</sup></td>
        <td>288 mpg</td>
      </tr>
      <tr>
        <td>2013</td>
        <td>SEMA</td>
        <td>2<sup>nd</sup></td>
        <td>577 mpg</td>
      </tr>
      <tr>
        <td>2014</td>
        <td>SEMA</td>
        <td>3<sup>rd</sup></td>
        <td>325 mpg</td>
      </tr>
      <tr>
        <td>2015</td>
        <td>SEMA</td>
        <td>2<sup>nd</sup></td>
        <td>325 mpg</td>
      </tr>
      <tr>
        <td>2016</td>
        <td>SEMA</td>
        <td>DNF</td>
        <td>-</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <a class="anchor" name="proto-results" id="proto-results"></a>
    <img class="car-type" src="images/competition/proto.png">
    <h3 class="text-center car-type">PROTOTYPE CLASS</h3>
    <table class="table table-bordered">
      <tr>
        <td>2001</td>
        <td>SAE</td>
        <td>9<sup>th</sup></td>
        <td>295 mpg</td>
      </tr>
      <tr>
        <td>2002</td>
        <td>SAE</td>
        <td>4<sup>th</sup></td>
        <td>895 mpg</td>
      </tr>
      <tr>
        <td>2003</td>
        <td>SAE</td>
        <td>1<sup>st</sup></td>
        <td>927 mpg</td>
      </tr>
      <tr>
        <td>2004</td>
        <td>SAE</td>
        <td>1<sup>st</sup></td>
        <td>1747 mpg</td>
      </tr>
      <tr>
        <td>2005</td>
        <td>SAE</td>
        <td>1<sup>st</sup></td>
        <td>1608 mpg</td>
      </tr>
      <tr>
        <td>2006</td>
        <td>SAE</td>
        <td>1<sup>st</sup></td>
        <td>3145 mpg</td>
      </tr>
      <tr>
        <td>2008</td>
        <td>SAE</td>
        <td>4<sup>th</sup></td>
        <td>1865 mpg</td>
      </tr>
      <tr>
        <td>2013</td>
        <td>SEMA</td>
        <td>5<sup>th</sup></td>
        <td>1383 mpg</td>
      </tr>
      <tr>
        <td>2014</td>
        <td>SEMA</td>
        <td>DNF</td>
        <td>-</td>
      </tr>
      <tr>
        <td>2015</td>
        <td>SEMA</td>
        <td>DNF</td>
        <td>-</td>
      </tr>
      <tr>
        <td>2016</td>
        <td>SEMA, SAE</td>
        <td>6<sup>th</sup></td>
        <td>715 mpg</td>
      </tr>
    </table>
  </div>
</div>

<!-- Footer -->

{% include footer.html %}

</body>
</html>