---
title: Competition
custom_css:
- competition
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
<div class="topbar animated fadeInLeftBig"></div>

<!-- Header Starts -->
<div id="top" class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="top-nav">
          <div class="container">
            <div class="navbar-header">
              <!-- Logo Starts -->
              <a class="navbar-brand" href="#top"><img src="images/sm_logo.png" alt="logo"></a>
              <!-- #Logo Ends -->

              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

            </div>

            <!-- Nav Starts -->
            <div class="navbar-collapse  collapse">
              <ul class="nav navbar-nav navbar-right scroll">
                 <li><a href="#sema">Shell Eco Marathon</a></li>
                 <li><a href="#sae">SAE</a></li>
                 <li><a href="#proto-results">Prototype Results</a></li>
                 <li><a href="#urban-results">Urban Results</a></li>
              </ul>
            </div>
            <!-- #Nav Ends -->

          </div>
        </div>

      </div>
    </div>

<!-- #Header -->


<!-- Competition -->
<div id="about"  class="container spacer about">
  <h1 class="text-center wowload fadeInUp">Competition</h1>
  <div id="background">
    <img src="images/sema-group.png" alt="SEMA 2015"/>
    <p class="text-center">test caption</p>
  </div>

  <div class="col-md-6">
    <a class="anchor" name="sema" id="sema"></a>
    <h3 class="text-center">SHELL ECOMARATHON AMERICAS</h3>
      <p>The Shell Eco-marathon competition made its debut once again in the United States on April 12-15th, 2007 at the California Speedway in Fontana, California. In 2010, the competition was moved to Houston, Texas; the track circling Discovery Green Park in downtown Houston.  Last year, in 2015, the location was moved to Detroit, Michigan by the COBO center in the heart of the city. For more information, please visit the <a href="http://www.shell.com/energy-and-innovation/shell-ecomarathon/americas.html">Shell website</a>.</p>
      <img class="logo" src="images/logos/shell.png">
  </div>
  <div class="col-md-6">
    <a class="anchor" name="sae" id="sae"></a>
    <h3 class="text-center">SAE SUPERMILEAGE</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
      <img class="logo" src="images/logos/sae.png">
  </div>
  <br><br>
  <div class="col-md-12">
    <hr width="50%" class="text-center">
  </div>
  <br><br>
  <div class="col-md-12">
    <h2 class="text-center">RESULTS</h2>
  </div>
  <div class="col-md-6">
    <a class="anchor" name="proto-results" id="proto-results"></a>
    <img class="car-type" src="images/competition/proto.png">
    <h3 class="text-center car-type">PROTOTYPE CLASS</h3>
    <table class="table table-bordered">
      <tr>
        <td>YEAR</td>
        <td>COMPETITION</td>
        <td>RANK</td>
        <td>MILEAGE</td>
      </tr>
      <tr>
        <td>2013</td>
        <td>SEMA</td>
        <td>5<sup>th</sup> Place</td>
        <td>0.170 L/100km (1383 mpg)</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <a class="anchor" name="urban-results" id="urban-results"></a>
    <img class="car-type" src="images/competition/urban.png">
    <h3 class="text-center car-type">URBAN CONCEPT</h3>
    <table class="table table-bordered">
      <tr>
        <td>YEAR</td>
        <td>COMPETITION</td>
        <td>RANK</td>
        <td>MILEAGE</td>
      </tr>
      <tr>
        <td>2013</td>
        <td>SEMA</td>
        <td>2<sup>nd</sup> Place</td>
        <td>0.408 L/100km (577 mpg)</td>
      </tr>
    </table>
  </div>
</div>

<!-- Our Cars -->

{% include footer.html %}

</body>
</html>