---
title: Contact Us
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
<div class="topbar animated fadeInLeftBig"></div>

{% include navbar.html %}


<!-- #Header -->

<!-- History -->
<div id="about"  class="container about first">
    <!-- TODO cleanup -->
  <h1 class="text-center wowload fadeInUp">Contact Us</h1>
  <div class="col-md-2"> <!-- spacer -->  </div>

  <div class="col-md-8">
      <p>If you are looking for more info about any aspect of the team or design
        of the vehicle, send us your questions! Also, be sure to check out our
        list of <a href="../aboutus.html">frequently asked questions.</a>

        For more details about our team, <a href="../aboutus.html">go here.</a>
        For sponsorship information, <a href="../sponsorus.html">check out this page.</a>


      </p>

      <h4 style="text-align:center;">Email address:</h1>
        <p style="text-align:center;"> <a href="mailto:info@supermileage.ca">info@supermileage.ca</a> </p>
      <h4 style="text-align:center;">Mailing Address:</h1>
        <p style="margin:0px ! important; text-align:center;">UBC Supermileage Team</p>
        <p style="margin:0px ! important; text-align:center;">University of British Columbia</p>
        <p style="margin:0px ! important; text-align:center;">2054-6250 Applied Science Lane</p>
        <p style="margin:0px ! important; text-align:center;">Vancouver, BC, Canada</p>
        <p style="text-align:center;">V6T 1Z4</p>


      <h4 style="text-align:center;">Team Contact:</h1>
        <p style="text-align:center;">Team Captain — Sahil Dhingra</p>


      <h4 style="text-align:center;">Faculty Advisor:</h1>
        <p style="text-align:center;">Jon Mikkelsen, Mech. Eng. Faculty — <a href="mailto:mikk@mech.ubc.ca">mikk@mech.ubc.ca</a>        </p>

    </div>
    <div class="col-md-2"> <!-- spacer -->  </div>





    </div>



</div>

{% include footer.html %}

</body>
</html>
