---
title: Events
fullcalendar: true
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
<div class="topbar animated fadeInLeftBig"></div>
{% include navbar.html %}


<!-- Calendar -->
<div class="container first">
  <a class="anchor" name="calendar" id="calendar"></a>
  <div class="col-md-12">
    <h2 class="text-center">CALENDAR</h2>
  </div>
  <div class="col-md-12">
    <div id="calendar-container"></div>
  </div>
</div>

<!-- Events -->
<div class="container">
  <a class="anchor" name="events" id="events"></a>
  <div class="col-md-12 spacer">
    <h2 class="text-center">EVENTS</h2>
    {% capture past-events %}{% include past-events.md %}{% endcapture %}

  </div>
</div>
{% include footer.html %}

</body>
</html>
