---
custom_js:
- index
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}


<body>
<div class="topbar animated fadeInLeftBig"></div>
{% include navbar.html %}

<!-- Header Starts -->



<!-- #Header -->
<div id="background">
  <!--<img src="images/background.jpg" alt="bckgd"/>-->

  <!--
  <div id="title">
    <h1>UBC Supermileage</h1>
  </div>
  -->


<div id="title">
  <h1>
     <img class="logo" src="/images/ubc-logo.svg" alt="UBC logo" />
      {{ site.name }}
  </h1>
  <h3 id="site-description" class="hidden-xs">{{ site.description }}</h3>

</div>



  <!--
  <div id="clockdiv">
    <h4 style="margin-bottom: 0">SAE COUNTDOWN:</h4>
    <div>
      <span class="days"></span>
      <div class="smalltext">Days</div>
    </div>
    <div>
      <span class="hours"></span>
      <div class="smalltext">Hours</div>
    </div>
    <div>
      <span class="minutes"></span>
      <div class="smalltext">Minutes</div>
    </div>
    <div>
      <span class="seconds"></span>
      <div class="smalltext">Seconds</div>
    </div>
  </div>
  -->




</div>

<!-- About-->
<div class="container spacer about">
<a class="anchor" name="about" id="about"></a>
  <h2 class="text-center wowload fadeInUp">About Us</h2>
  <div class="row">
    <div class="col-sm-6 wowload fadeInLeft">
    <h4><!-- <i class="fa fa-paint-brush"></i> -->Who we are</h4>
      <p>The UBC Supermileage team is a group of 65 dedicated engineering students working to design and build fuel efficient gasoline powered vehicles for the Shell Eco-Marathon Americas and the Society of Automotive Engineers (SAE) Supermileage Competitions. Our diverse team includes technical students from mechanical, geological, eng-physics, integrated, electrical, civil, materials engineering as well as business and science.</p>
    </div>
    <div class="col-sm-6 wowload fadeInRight">
      <h4><!-- <i class="fa fa-code"></i> -->What we do</h4>
      <p>Fuelathon competitions provide engineering and technology students with a challenging design project that involves the development and construction of either a single-person, fuel-efficient vehicle or a larger four wheeled urban concept car. Students build gas-powered fuel efficient vehicles, and have the opportunity to set a world fuel economy record and increase public awareness of fuel economy and sustainability. Students become more sensitive to environmental issues as well as develop important project management skills.</p>
    </div>
  </div>
</div>

<div id="team-pic">
  <img src="images/team_photo_new.jpg" alt="Team Picture"/>
</div>

<!-- works -->

<div id="works"  class="clearfix grid">
  <h2 class="text-center wowload fadeInUp">Learn More</h2>

    <a  href="./aboutus.html">

    <figure class="effect-oscar  wowload fadeIn">
      <img src="images/0.jpg" alt="img01"/>
        <figcaption>
            <h2>About Us</h2><br>
            <p>Our team and our history<br></p>
        </figcaption>
    </figure>

    </a>

    <a href="./ourcars.html">
      <figure class="effect-oscar wowload fadeInUp">
          <img src="images/0.jpg" alt="img01"/>
          <figcaption>
              <h2>Our Cars</h2><br>
              <p>The Zephyr and the Mark XI<br></p>
          </figcaption>
      </figure>
    </a>

    <a href="./competition.html">
      <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/0.jpg" alt="img01"/>
        <figcaption>
            <h2>Competition</h2><br>
            <p>Shell Eco-Marathon Americas and SAE Supermileage Competitions<br></p>
        </figcaption>
      </figure>
    </a>
    <a href="./blog/index.html">
     <figure class="effect-oscar wowload fadeInUp">
        <img src="images/0.jpg" alt="img01"/>
        <figcaption>
            <h2>Blog</h2>
            <p>Updates from the team<br>
        </figcaption>
      </figure>
    </a>
    <a href="/joinus.html">
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/0.jpg" alt="img01"/>
        <figcaption>
            <h2>Join Us</h2>
            <p>Become a member!<br>
        </figcaption>
      </figure>
     </a>
    <figure class="effect-oscar wowload fadeInUp" id="followus">
        <img src="images/0.jpg" alt="img01"/>
        <figcaption>
            <h2>Follow us</h2>
            <div class="social-btn-box fb-btn-container">
              <a href="http://www.facebook.com/ubcst/" class="fb-btn">
                <i class="fa fa-facebook"></i>
              </a>
            </div>
            <div class="social-btn-box twitter-btn-container">
              <a href="http://www.twitter.com/UBCSupermileage" class="twitter-btn">
                <i class="fa fa-twitter"></i>
              </a>
            </div>
            <div class="social-btn-box youtube-btn-container">
              <a href="http://www.youtube.com/user/UBCSupermileageTeam" class="youtube-btn">
                <i class="fa fa-youtube"></i>
              </a>
            </div>
        </figcaption>
    </figure>
    <a href="./sponsorus.html">
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/0.jpg" alt="img01"/>
        <figcaption>
            <h2>Sponsor Us</h2>
            <p>Help out the team<br>
        </figcaption>
    </figure>
    </a>
    <a href="/contactus.html">
    <figure class="effect-oscar  wowload fadeInUp">
       <img src="images/0.jpg" alt="img01"/>
       <figcaption>
           <h2>Contact Us</h2>
           <p>Get in touch!<br>
       </figcaption>
   </figure>
   </a>
</div>

<!-- Newest Update -->
<!--
<div class="container center spacer">
  <h2 class="text-center wowload fadeInUp">Newest Updates</h2>
  <div class="row carousel-container">
    <div class="slider responsive">
      <div><div><h3 class="hslider">1</h3><a href="google.com">test1</a></div></div>
      <div><h3 class="hslider">2</h3><a href="google.com">test2</a></div>
      <div><h3 class="hslider">3</h3><a href="google.com">tes3</a></div>
      <div><h3 class="hslider">4</h3></div>
      <div><h3 class="hslider">5</h3></div>
      <div><h3 class="hslider">6</h3></div>
      <div><h3 class="hslider">7</h3></div>
    </div>
  </div>
</div>
-->

<!-- Sponsors -->
<div class="container center spacer sponsors">
<h2 class="text-center wowload fadeInUp">Sponsors</h2>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-4">
      <img id="shell" src="images/logos/dff.png"/>
    </div>
    <div class="col-sm-2">
      <img id="shell" src="images/logos/shell.png"/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-xs-6">
      <img src="images/logos/ubc-mech.png"/>
    </div>
    <div class="col-sm-4 col-xs-6">
      <img src="images/logos/apegbc.png"/>
    </div>
    <div class="col-sm-4 col-xs-6">
      <img src="images/logos/ubc.png"/>
    </div>
    <div class="col-sm-4 col-xs-6">
      <img src="images/logos/max-torque.png"/>
    </div>
    <div class="col-sm-4 col-xs-6">
      <img src="images/logos/honda.png"/>
    </div>
    <div class="col-sm-4 col-xs-6">
      <img src="images/logos/vorum.jpg"/>
    </div>
    <div class="col-sm-4 col-xs-6">
      <img src="images/logos/avcorp.png"/>
    </div>
    <div class="col-sm-4 col-xs-6">
      <img src="images/logos/solidworks.png"/>
    </div>
    <div class="col-sm-4 col-xs-6">
      <img src="images/logos/fluor.jpg"/>
    </div>
    <div class="col-sm-4 col-xs-6">
      <img src="images/logos/sensirion.png"/>
    </div>
    <div class="col-sm-4 col-xs-6">
      <img src="images/logos/formsprag.jpg"/>
    </div>
    <div class="col-sm-4 col-xs-6">
      <img src="images/logos/fiber-tek.gif"/>
    </div>
    <div class="col-sm-4 col-xs-6">
      <img src="images/logos/fs.png"/>
    </div>
    <div class="col-sm-4 col-xs-6">
      <img src="images/logos/intergulf.jpg"/>
    </div>
    <div class="col-sm-4 col-xs-6">
      <img src="images/logos/knighthill.png"/>
    </div>
    <div class="col-sm-4 col-xs-6">
      <img src="images/logos/zaber.png"/>
    </div>
    <div class="col-sm-4 col-xs-6">
      <img src="images/logos/soller-composites.jpg"/>
    </div>
    <div class="col-sm-4 col-xs-6">
      <img src="images/logos/crn.jpg"/>
    </div>
  </div>
</div>


<!--Contact Starts-->
<div id="contact" class="spacer">

<div class="container contactform center">
<h2 class="text-center  wowload fadeInUp">Get in touch!</h2>
  <div class="row wowload fadeInLeftBig">
      <div class="col-sm-6 col-sm-offset-1 col-xs-12">
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Company">
        <textarea rows="5" placeholder="Message"></textarea>
        <button class="btn btn-primary"><i class="fa fa-paper-plane"></i> Send</button>
      </div>
      <div class="col-sm-3 col-sm-offset-1 col-xs-12" id="donate">
        <button class="btn btn-primary">Donate</button>
      </div>
  </div>
</div>
</div>
<!--Contact Ends-->

{% include footer.html %}

<!-- slick carousel -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>

<!-- custom slick -->
<script src="js/slick.js"></script>

<!-- gallery -->
<script src="assets/gallery/jquery.blueimp-gallery.min.js"></script>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>


</body>
</html>
