---
title: Join Us
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
<div class="topbar animated fadeInLeftBig"></div>

{% include navbar.html %}


<!-- #Header -->

<!-- History -->
<div id="about"  class="container about first">
    <!-- TODO cleanup -->
  <h1 class="text-center wowload fadeInUp">Join The Team</h1>

  <div class="col-md-12">
      <p>Recruitment for 2017/2018 is now open! We are a friendly and welcoming
          team looking for students with good attitudes above anything else. If
          you are interested in joining the team, fill out this form for 2017/2018
          recruitment. For more information, come check us out at our Saturday
          meetings, 10 am in Rusty Hut. Alternatively, feel free to send us an
          email with your name and we will contact you immediately so that you
          can check out if Supermileage is right for you. Main recruitment closes
          September 15, 2017. Beyond this date, recruitment will be made only if
          space permits, and on a case by case basis. Contact info@supermileage.ca
          if you are still interested in joining the team, but the main recruitment
          phase has passed.
      </p>
</div>


        <div class="col-md-6">
        <h5>We need students from:</h5>
          <ul>
              <li>Any discipline</li>
              <li>Any year</li>
              <li>Any area of interest</li>
          </ul>

        <h5>What you need:</h5>
          <ul>
              <li> Good attitude</li>
              <li>Hunger to learn</li>
              <li>Some free time</li>
          </ul>

        <h5>What you don’t need:</h5>
          <ul>
              <li>Lots of prior experience</li>
          </ul>

      </div>
      <div class="col-md-6">
          <h5>What Supermileage gets you:</h5>
            <ul>
                <li>Mechanical/Electrical/Industrial design</li>
                <li>Team-based project work</li>
                <li>Project management</li>
                <li>Finite Element Analysis (FEA)</li>
                <li>Computational or Experimental Fluid Dynamics (CFD, Wind tunnel testing)</li>
                <li>Composites &amp; advanced materials design and fabrication</li>
                <li>Fuel Efficiency, Engine design</li>
                <li>Marketing &amp; Business</li>
            </ul>
      </div>

      <div class="col-md-12">
          <h1 class="text-center wowload fadeInUp">Questions</h1>

          <h5>Q: Your team sounds neat, but I don’t have much experience. Can I
              still join your team?</h5>
          <p>
              A: Yes! Learning and gaining new experiences is what our team is
              all about. We welcome everyone of varying backgrounds and interests.
              We are always looking for students to join our team!
          </p>

          <h5>Q: Are there membership fees?</h5>
          <p>
              A: Of course not! We only require you to bring a good attitude and
              an interest to learn!
          </p>









    </div>



</div>

{% include footer.html %}

</body>
</html>
