---
title: Our Cars
custom_css:
- ourcars
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
<div class="topbar animated fadeInLeftBig"></div>

<!-- Header Starts -->
<div id="top" class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="top-nav">
          <div class="container">
            <div class="navbar-header">
              <!-- Logo Starts -->
              <a class="navbar-brand" href="#top"><img src="images/sm_logo.png" alt="logo"></a>
              <!-- #Logo Ends -->

              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

            </div>

            <!-- Nav Starts -->
            <div class="navbar-collapse  collapse">
              <ul class="nav navbar-nav navbar-right scroll">
                 <li ><a href="#cars">Cars</a></li>
                 <li ><a href="#engine">Engine</a></li>
                 <li ><a href="#chassis">Chassis</a></li>
                 <li ><a href="#drivetrain">Drivetrain</a></li>
                 <li ><a href="#steering">Steering</a></li>
              </ul>
            </div>
            <!-- #Nav Ends -->

          </div>
        </div>

      </div>
    </div>

<!-- #Header -->


<!-- Our Cars -->
<div name="cars" id="cars" class="container about first">
  <!-- <a class="anchor" name="cars" id="cars"></a> -->
  <h1 class="text-center wowload fadeInUp">Our Cars</h1>  
  
    <div class="col-sm-5 wowload fadeInLeft">
    <h3 class="text-center">PROTOTYPE CLASS</h4>
    <h4 class="text-center">MARK X</h4>
      <div>
        <p>The prototype vehicle is a three wheeled, single passenger vehicle meant to push the limits of fuel efficiency.  This competition class has very few limits on design, allowing a number of creative solutions in order to achieve extremely high fuel mileage. UBC Supermileage has recently restarted development in this class with our Mark VIII vehicle.</p>
      </div>
    </div>
    <div class="col-sm-2" id="separator">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="col-sm-5 wowload fadeInRight">
      <h3 class="text-center">URBAN CONCEPT CLASS</h4>
      <h4 class="text-center">ZOTICUS</h4>
      <div>
        <p>The Urban Concept Car is a slightly more practical vehicle meant to bridge the gap between the prototype vehicle and the vehicles you see on the road today. Teams are required to design the vehicle with a minimum of four wheels, larger stance, headlights, tailights, turn signals and other practical considerations that the average city vehicle requires today.  Even “stop and go driving” is simulated in the competition.</p>
      </div>
    </div>

    <!-- ENGINE -->
    <div class="col-sm-12">
      <a class="anchor" name="engine" id="engine"></a>
      <h3 class="text-center">ENGINE</h3>
    </div>

    <div class="col-sm-3">
      <h4 class="text-center">BRIGGS STRATTON 206</h4>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="col-sm-6">
      <img src="images/ourcars/engine.png"/>
    </div>
    <div class="col-sm-3">
      <h4 class="text-center">HONDA GXH 50</h4>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>

    <!-- CHASSIS -->
    <div class="col-sm-12">
      <a class="anchor" name="chassis" id="chassis"></a>
      <h3 class="text-center">CHASSIS</h3>
    </div>
    
    <div class="col-sm-2">
      <br><br><br>
      <img src="images/ourcars/aluminum.PNG"/>
    </div>
    <div class="col-sm-3">
      <h4 class="text-center">2" ALUMINUM HONEYCOMB</h4>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div class="col-sm-2" id="separator">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <h4 class="text-center">1" NOMEX</h4>
      <div>
        <br><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div class="col-sm-2">
      <br><br><br>
      <img src="images/ourcars/nomex.png"/>
    </div>

    <!-- DRIVETRAIN -->
    <div class="col-sm-12">
      <a class="anchor" name="drivetrain" id="drivetrain"></a>
      <h3 class="text-center">DRIVETRAIN</h3>
    </div>

    <div class="col-sm-3">
      <h4 class="text-center">JACKSHAFT</h4>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div class="col-sm-6">
      <img src="images/ourcars/drivetrain.png"/>
    </div>
    <div class="col-sm-3">
      <h4 class="text-center">2-GEAR BOX</h4>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>

    <!-- STEERING -->
    <div class="col-sm-12">
      <a class="anchor" name="steering" id="steering"></a>
      <h3 class="text-center">STEERING</h3>
    </div>
    
    <div class="col-sm-2">
      <br><br><br><br><br><br>
      <img src="images/ourcars/protosteering.png"/>
    </div>
    <div class="col-sm-3">
      <h4 class="text-center">BIKEY HANDLEBARS</h4>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div class="col-sm-2" id="separator">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <h4 class="text-center">FORMULA 1 STYLE</h5>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div class="col-sm-2">
      <br><br><br><br><br><br>
      <img src="images/ourcars/urbansteering.png"/>
    </div>

</div>

<!-- Our Cars -->

{% include footer.html %}

</body>
</html>