---
title: History
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
<div class="topbar animated fadeInLeftBig"></div>

{% include navbar.html %}


<!-- #Header -->

<!-- History -->
<div id="about"  class="container about first">
    <!-- TODO cleanup -->
  <h1 class="text-center wowload fadeInUp">The Team (append)History</h1>

  <div class="col-md-12">
      <p>UBC Supermileage was founded in 2001 by UBC engineering students Rob Mahaffey and Brian Jung. The goal of the team was to develop a highly
        fuel-efficient car to compete in the SAE Supermileage competition while providing an opportunity for student engineers to apply classroom theories
        to real-world problems. The team started out small, with 6 students doing most of the organization, fundraising, design, fabrication, and assembly
        of the vehicle. The team’s small size compared to other UBC student teams did not prevent it from being successful at the competition, and in fact
        UBC Supermileage achieved a first-place position 4 years in a row.
      </p>
      <p>In the 2006/2007 academic year, the team consisted mostly of new members after the core members graduated from UBC. This was a difficult year for
        the team as the new members had to rebuild the team’s sponsorship relationships, available resources, and technical knowledgebase due to the lack of
        turnover documentation from the now-graduated core members. The team overcame these challenges to obtain a respectable fourth-place position in the 2008
        Supermileage competition.</p>
    <p>After several years of success in the SAE Supermileage competition, the team decided to try something new and to compete in the Shell Ecomarathon in the
        Urban Concept division. This class of vehicle was intended to promote cars that were closer to typical road-legal vehicles, marking a significant change
        from the Prototype vehicles that competed in the SAE Supermileage competition. During this time, the team also grew significantly in size to approximately
        60 members, with 14-18 students making up the core leadership of the team. The larger team allowed UBC Supermileage for the first time to send both an Urban
        and a Prototype-class vehicle to competition in a single year, which took place at the 2013 Shell Ecomarathon. </p>
    <p>When returning from the 2013 Shell Ecomarathon, both the team’s vehicles were lost in a shipping accident. Almost every part of the vehicles was destroyed,
        and much of what was left was too damaged to be reused. While this setback could have caused the team to miss the Shell Ecomarathon for a year or more,
        the leadership of team captain Katelyn Currie ensured that both vehicles were rebuilt from scratch in time for the 2014 Shell Ecomarathon. UBC Supermileage
        continued to develop as a team, and in 2016 sent the Prototype vehicle to both the Shell Ecomarathon and SAE Supermileage competitions, where the team was
        recognized with the “best newcomer” award for its return to the latter competition. UBC Supermileage continues to compete in the two competitions with the
        goal of achieving first-place positions for both vehicles in both competitions.</p>
  </div>

  <h1 class="text-center wowload fadeInUp">Philosophy</h1>
  <div class="col-md-12">
      <h4>Innovation through simplicity</h4>
      <p>
          A key to good design is to “keep it simple
          silly!” Part of the challenge of the competition is not only to design
          components, but to optimize and create completely new and unique solutions
          to problems.
      </p>
      <h4>Engineering Responsibly </h4>
      <p>
          Engineers and students are responsible for educating
          the public on environmental-related issues that arise from technology.
          UBCST believes that through our project work we can reach out and promote
          awareness and educate the public on energy conservation and just plain saving
          gas! The team wants to continue to grow and build, and share its success
          with the community. We can be seen meeting with the public at many events.

      </p>

  </div>

</div>


{% include footer.html %}

</body>
</html>
