---
title: Events
fullcalendar: true
paginate:
  category: events
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
<div class="topbar animated fadeInLeftBig"></div>

<!-- Header Starts -->
<div id="top" class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="top-nav">
          <div class="container">
            <div class="navbar-header">
              <!-- Logo Starts -->
              <a class="navbar-brand" href="#top"><img src="/images/sm_logo.png" alt="logo"></a>
              <!-- #Logo Ends -->

              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

            </div>

            <!-- Nav Starts -->
            <div class="navbar-collapse  collapse">
              <ul class="nav navbar-nav navbar-right scroll">
                 <li><a href="#calendar">Calendar</a></li>
                 <li><a href="#events">Events</a></li>
              </ul>
            </div>
            <!-- #Nav Ends -->

          </div>
        </div>

      </div>
    </div>

<!-- #Header -->


<!-- Calendar -->
<div id="about"  class="container about first">
  <div class="col-md-12">
    <h2 class="text-center">CALENDAR</h2>
  </div>
  <div class="col-md-12">
    <div id="calendar"></div>
  </div>
  <div class="col-md-12 spacer">
    <h2 class="text-center">EVENTS</h2>
  </div>
  
  {% for post in paginator.posts}
    <div class="post-preview">
      <h3><a class="subtle-link" href="{{ post.url}}">
        {{ post.title }}
      </a></h3>
      <p class="text-muted">{{ post.date | date: site.dateformat }}</p>
      {{ post.excerpt }}
      <p><a href="{{ post.url }}">Continue reading...</a></p>
    </div>
  {% endfor %}

</div>

{% include footer.html %}

</body>
</html>